In [2]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")
from time import sleep
from random import randint
import numpy as np
import pandas as pd
import csv
import sqlite3

In [2]:
# List of URLs to scrape
urls = [
    'https://www.nike.com/in/',
    'https://www.adidas.co.in/',
    'https://us.puma.com/us/en',
    'https://www.skechers.com/',
    'https://www.columbia.com/',
    'https://www.woodlandworldwide.com/'
]

In [4]:
# Function to scrape and write data to CSV files
def scrape_and_write_to_csv(url, csv_filename, data_extractor):
    try:
        # Make a GET request to the URL
        response = requests.get(url)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Parse the HTML content of the page
            soup = BeautifulSoup(response.text, 'html.parser')

            # Extract data using the provided data_extractor function
            data = data_extractor(soup)
              # Write data to CSV file
            with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
                csv_writer = csv.writer(csv_file)
                csv_writer.writerows(data)

            print(f"Data from {url} written to {csv_filename}")

        else:
            print(f"Failed to retrieve {url}. Status code: {response.status_code}")

    except Exception as e:
        print(f"An error occurred while scraping {url}: {e}")

In [5]:

# Function to scrape and write data to CSV files
def scrape_and_write_to_csv(url, csv_filename, data_extractor):
    try:
        # Make a GET request to the URL
        response = requests.get(url)

        # Check if the request was successful (status code 200)
        if response.status_code == 200:
            # Parse the HTML content of the page
            soup = BeautifulSoup(response.text, 'html.parser')

            # Extract data using the provided data_extractor function
            data = data_extractor(soup)

            # Write data to CSV file
            with open(csv_filename, 'w', newline='', encoding='utf-8') as csv_file:
                csv_writer = csv.writer(csv_file)
                csv_writer.writerows(data)

            print(f"Data from {url} written to {csv_filename}")

        else:
            print(f"Failed to retrieve {url}. Status code: {response.status_code}")

    except Exception as e:
        print(f"An error occurred while scraping {url}: {e}")

In [7]:
# Function to extract data for Table1
def extract_data_table1(soup):
    # Example: Extracting shoe name, category, number of colors, and price
    shoe_name_element = soup.find('h1', class_='product-title')
    category_element = soup.find('span', class_='product-category')
    colors_elements = soup.find_all('div', class_='color-selector-item')
    price_element = soup.find('span', class_='product-price')

    # Check if elements exist before extracting text
    shoe_name = shoe_name_element.text.strip() if shoe_name_element else ''
    category = category_element.text.strip() if category_element else ''
    num_colors = len(colors_elements) if colors_elements else 0
    price = price_element.text.strip() if price_element else ''

    # Return data as a list
    return [[shoe_name, category, num_colors, price]]

In [8]:
# Function to extract data for Table2
def extract_data_table2(soup):
    # Example: Extracting count of sizes, colors, and style code
    count_sizes_elements = soup.find_all('div', class_='size-selector-item')
    colors_elements = soup.find_all('div', class_='color-selector-item')
    style_code_element = soup.find('span', class_='product-style-code')

    # Check if elements exist before extracting text
    count_sizes = len(count_sizes_elements) if count_sizes_elements else 0
    colors = [color['data-color'] for color in colors_elements] if colors_elements else []
    style_code = style_code_element.text.strip() if style_code_element else ''

    # Return data as a list
    return [[count_sizes] + colors + [style_code]]

In [9]:
# Function to extract data for Table3
def extract_data_table3(soup):
    # Example: Extracting reviews, size, comfort, durability, star rating
    reviews_element = soup.find('span', class_='product-reviews-count')
    size_element = soup.find('span', class_='size-selector-item-selected')
    comfort_element = soup.find('span', class_='product-feature-comfort')
    durability_element = soup.find('span', class_='product-feature-durability')
    star_rating_element = soup.find('span', class_='product-rating-stars')

    # Check if elements exist before extracting text
    reviews = reviews_element.text.strip() if reviews_element else ''
    size = size_element.text.strip() if size_element else ''
    comfort = comfort_element.text.strip() if comfort_element else ''
    durability = durability_element.text.strip() if durability_element else ''
    star_rating = star_rating_element.text.strip() if star_rating_element else ''

    # Return data as a list
    return [[reviews, size, comfort, durability, star_rating]]

In [ ]:

 Loop through URLs and scrape data for each table
for i, url in enumerate(urls, start=1):
    scrape_and_write_to_csv(url, f'Table{i}.csv', locals()[f'extract_data_table{i}'])

In [ ]:
# create a databse with name  Movies.db
conn= sqlite3.connect('E:/DataTrained/Capstone_Project/Sql/Movies.db')

# cursor object
cursor = conn.cursor()

# create Table name = Table_1

table1= """ CREATE TABLE1 (
            Shoe_name INTEGER NOT NULL,
            Category VARCHAR(255) ,
            no_of_colors VARCHAR(255),
            Price INTEGER,
            PRIMARY KEY (Shoe_name,Category)
        ); """

cursor.execute(table1)
 
print("Table1 is Ready")

In [ ]:
# create Table name = Table_2

table2= """ CREATE TABLE2 (
            count_of_sizes INTEGER,
            colors_1 VARCHAR(255),
            colors_2 VARCHAR(255),
            colors_3 VARCHAR(255),
            colors_4 VARCHAR(255),
            style_code INTEGER,
            FOREIGN KEY (count_of_sizes) REFERENCES style_code (style_code)
        ); """

cursor.execute(table2)
 
print("Table2 is Ready")

In [ ]:
# create Table name = Table_3

table2= """ CREATE TABLE2 (
            reviews VARCHAR(255), 
            size INTEGER,
            comfort VARCHAR(255),
            durability VARCHAR(255),
            start_rating INTEGER,
            FOREIGN KEY (reviews) REFERENCES star_rating (star_rating)
        ); """

cursor.execute(table3)
 
print("Table3 is Ready")

In [ ]:
# Opening the movie_1.csv file
file = open('E:/DataTrained/Capstone_Project/table1.csv',encoding='utf-8')
 
# Reading the contents of the

contents = csv.reader(file)
next(contents)
# SQL query to insert data into the table
insert_records = " INSERT INTO table_1 (Shoe_name, category, no_of_colors,price) VALUES(?,?,?,?,?,?,?,?,?)"
 
# Importing the contents of the file
# into our person table
cursor.executemany(insert_records, contents)
conn.commit()

# SQL query to retrieve all data from the table
select_all = "SELECT * FROM table1"
rows = cursor.execute(select_all).fetchall()

cursor.lastrowid

In [ ]:
# Opening the movie_2.csv file
file = open('E:/DataTrained/Capstone_Project/table_2.csv', encoding='utf-8')
 
# Reading the contents of the

contents = csv.reader(file)
next(contents)
# SQL query to insert data into the table
insert_records = " INSERT INTO table_2 (count_of_sizes, color_1,color_2,color_3,color_4, style_code) VALUES(?,?,?,?,?,?,?,?,?,?,?,?)"
 
# Importing the contents of the file into our table
cursor.executemany(insert_records, contents)
conn.commit()

# SQL query to retrieve all data from the table
select_all = "SELECT * FROM table2"
rows = cursor.execute(select_all).fetchall()
conn.close()

cursor.lastrowid

In [ ]:
# Opening the movie_2.csv file
file = open('E:/DataTrained/Capstone_Project/movie_2.csv', encoding='utf-8')
 
# Reading the contents of the

contents = csv.reader(file)
next(contents)
# SQL query to insert data into the table
insert_records = " INSERT INTO table_3 (reviews, size,comfort,durability,star_rating) VALUES(?,?,?,?,?,?,?,?,?,?,?,?)"
 
# Importing the contents of the file into our table
cursor.executemany(insert_records, contents)
conn.commit()

# SQL query to retrieve all data from the table
select_all = "SELECT * FROM table_3"
rows = cursor.execute(select_all).fetchall()
conn.close()

cursor.lastrowid

In [ ]:
# 1)  Write a query  to retrieve all shoe names and their corresponding prices for men's shoes:


conn= sqlite3.connect('E:/DataTrained/Capstone_Project/Sql/Movies.db')

# cursor object
mycursor = conn.cursor()
mycursor.execute("SELECT style, COUNT(size) AS size_count 
                 FROM table_1
                 GROUP BY style;
;")
myresult=mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 2)2 Write a query to retrieve the number of different colors available for each category
mycursor.execute("SELECT
    c.category_name,
    COUNT(DISTINCT co.color_name) AS num_colors
FROM
    categories c
LEFT JOIN
    category_colors cc ON c.category_id = cc.category_id
LEFT JOIN
    colors co ON cc.color_id
;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 3) Write a query to find the most expensive men's shoe.
mycursor.execute("SELECT *
FROM shoes
WHERE category = 'men'
ORDER BY price DESC
LIMIT 1;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 4)Write a query to find the cheapest women's shoe in a specific color (e.g., 'Black ').


mycursor.execute("SELECT *
FROM shoes
WHERE category = 'women' AND color = 'Black'
ORDER BY price ASC
LIMIT 1;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 5)  Write a query to retrieve all shoe names and their corresponding prices for men's shoes.
mycursor.execute("SELECT name, price
FROM shoes
WHERE category = 'men';")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 6)  Write a query that retrieves the count of sizes for all styles.

mycursor.execute("SELECT style, COUNT(size) AS size_count
FROM shoes
GROUP BY style;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
#7)    Write a query to list all styles with their associated colors.



mycursor.execute("SELECT style, GROUP_CONCAT(DISTINCT color SEPARATOR ', ') AS colors
FROM shoes
GROUP BY style;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 8)   Write a to find styles that have more than one color.
mycursor.execute("SELECT style
FROM shoes
GROUP BY style
HAVING COUNT(DISTINCT color) > 1;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
# 9) Write a query to find the count of sizes available for each color for a specific style code.
mycursor.execute("SELECT color, COUNT(DISTINCT size) AS size_count
FROM shoes
WHERE style_code = 'your_style_code'
GROUP BY color;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x)

In [ ]:
#10) Write a query to find styles that have a specific color.
mycursor.execute("SELECT DISTINCT style
FROM shoes
WHERE color = 'your_color';")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 11) Write a query calculates the average comfort rating for a specific product based on its reviews.


mycursor.execute("SELECT AVG(comfort_rating) as average_comfort_rating
FROM reviews
WHERE product_id = 'your_product_id';")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 12) Write a query to retrieve products with high star ratings (e.g., 4 stars or above)
mycursor.execute("SELECT product_id, product_name, average_rating
FROM products
JOIN reviews ON products.product_id = reviews.product_id
GROUP BY product_id, product_name
HAVING average_rating >= 4;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 13) Write a query that counts the number of reviews for each product
mycursor.execute("SELECT product_id, COUNT(*) as review_count
FROM reviews
GROUP BY product_id;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 14)Write a To retrieve products that have a quantified durability/quality/performance rating above a certain threshold (e.g., above 7).


mycursor.execute("SELECT product_id, product_name, AVG(rating) as average_rating
FROM products
JOIN reviews ON products.product_id = reviews.product_id
GROUP BY product_id, product_name
HAVING AVG(rating) > 7;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 15) Write a query that  calculates the average comfort rating for each size.

mycursor.execute("SELECT size, AVG(comfort_rating) as average_comfort_rating
FROM products
GROUP BY size;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
#16) Write a query finds the top-rated men's shoes along with their sizes from "Table1" and "Table3."

mycursor.execute("SELECT Table3.size, AVG(Table1.comfort_rating) as average_comfort_rating
FROM Table1
JOIN Table3 ON Table1.product_id = Table3.product_id
GROUP BY Table3.size;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
#17)  Write a  query calculates the average comfort rating for each category from "Table1" and "Table3."

mycursor.execute("SELECT category_id, AVG(Table1.comfort_rating) as average_comfort_rating
FROM Table1
JOIN Table3 ON Table1.product_id = Table3.product_id
GROUP BY category_id;")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
#18)   Write a  query identifies products with a durability/quality/performance rating higher than the average from "Table1" and "Table3."


mycursor.execute("SELECT product_id, product_name, AVG(rating) as average_rating
FROM (
    SELECT * FROM Table1 AS Table1
    UNION ALL
    SELECT * FROM Table3 AS Table3
) AS CombinedTable
GROUP BY product_id, product_name
HAVING average_rating > AVG(SELECT AVG(rating) FROM (
    SELECT * FROM Table1 AS Table1
    UNION ALL
    SELECT * FROM Table3 AS Table3
) AS AllRatings);")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
#19)  Write a  subquery finds products with comfort ratings above the average comfort rating using "Table1" and "Table3."



mycursor.execute("SELECT product_id, product_name, AVG(comfort_rating) as average_comfort_rating
FROM (
    SELECT * FROM Table1 AS Table1
    UNION ALL
    SELECT * FROM Table3 AS Table3
) AS CombinedTable
GROUP BY product_id, product_name
HAVING average_comfort_rating > AVG(SELECT AVG(comfort_rating) FROM (
    SELECT * FROM Table1 AS Table1
    UNION ALL
    SELECT * FROM Table3 AS Table3
) AS AllRatings);")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
#20)  Write a  query joins Table 1  and Table 2  using the "Style code/Product code" column, allowing you to retrieve shoe information along with product details.



mycursor.execute("SELECT *
FROM Table1
JOIN Table2 ON Table1."Style code/Product code" = Table2."Style code/Product code";")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 21) Write a  query that  identifies products with a star rating above the average star rating for their respective size.





mycursor.execute("SELECT p.product_id, p.product_name, p.size, AVG(r.star_rating) as average_star_rating
FROM products p
JOIN reviews r ON p.product_id = r.product_id
GROUP BY p.product_id, p.product_name, p.size
HAVING AVG(r.star_rating) > (
    SELECT AVG(r2.star_rating)
    FROM products p2
    JOIN reviews r2 ON p2.product_id = r2.product_id
    WHERE p2.size = p.size
);")
myresult= mycursor.fetchall()

for x in myresult:
    print(x

In [ ]:
# 22) Write  a  query finds products with the highest comfort rating in each category.

mycursor.execute("SELECT product_id, product_name, category_id, MAX(comfort_rating) as highest_comfort_rating
FROM products
JOIN reviews ON products.product_id = reviews.product_id
GROUP BY product_id, product_name, category_id
HAVING category_id = (
    SELECT MIN(category_id)
    FROM (
        SELECT category_id
        FROM products
        ORDER BY category_id
    ) AS SubQuery
);")
myresult= mycursor.fetchall()

for x in myresult:
    print(x